<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easyarch.dao.UserDao">

    
    <select id="searchById" resultType="Integer">
        select count(userId) from UserInfo where userId = #{userId}
    </select>

    <select id="searchUserById" resultType="com.easyarch.model.UserInfo">
        select * from UserInfo where userId = #{id}
    </select>

    <insert id="insertUser" parameterType="com.easyarch.model.UserInfo">
        insert into UserInfo(userId, userPwd) values (#{userId},#{userPwd})
    </insert>

    <select id="searchUserByUserInfo" parameterType="com.easyarch.model.UserInfo"
            resultType="com.easyarch.model.UserInfo">
        select userId from UserInfo where userId=#{userId} and userPwd = #{userPwd}
    </select>

    <update id="updatePlayer" parameterType="com.easyarch.model.PlayerInfo">
        update PlayerInfo set fightCount = #{fightCount} ,
                              winCount = #{winCount},
                              money = #{money},
                              climbLevel = #{climbLevel},
                              PlayerInfo.`rank` = #{rank} where userId = #{userId}
    </update>

    <select id="getPlayer" resultType="com.easyarch.model.PlayerInfo">
        select * from PlayerInfo where userId = #{userId};
    </select>

    <insert id="insertPlayer" parameterType="com.easyarch.model.PlayerInfo">
        insert into PlayerInfo(userId, userName, fightCount, winCount, money, climbLevel, PlayerInfo.`rank`)
         values (#{userId},#{userName},#{fightCount},#{winCount},#{money},#{climbLevel},#{rank})
    </insert>
</mapper>