<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easyarch.dao.UserDao">

<!--    int searchById(String id);-->

<!--    int searchByName(String name);-->

<!--    UserInfo searchUserById(String id);-->

<!--    int insertUser(UserInfo user);-->

<!--    UserInfo searchUserByUserInfo(UserInfo user);-->

    <select id="searchById" resultType="Integer">
        select count(userId) from user_info where userId = #{userId}
    </select>

    <select id="searchByName" resultType="Integer">
        select count(userName) from user_info where userName = #{userName}
    </select>

    <select id="searchUserById" resultType="com.easyarch.entity.UserInfo">
        select * from user_info where userId = #{id}
    </select>

    <insert id="insertUser" parameterType="com.easyarch.entity.UserInfo">
        insert into user_info(userId, userPwd, userName) values (#{userId},#{userPwd},#{userName})
    </insert>

    <select id="searchUserByUserInfo" parameterType="com.easyarch.entity.UserInfo"
            resultType="com.easyarch.entity.UserInfo">
        select userId,userName from user_info where userId=#{userId} and userPwd = #{userPwd}
    </select>
</mapper>